@reference "../../../assets/css/index.css";

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapperTable {
  display: flex;
}
.tabel {
  background-color: var(--background);
  position: relative;
  display: grid;
  border-top: var(--border-width) solid var(--border);
  border-left: var(--border-width) solid var(--border);
  background-image: linear-gradient(
      to left,
      var(--border-gray) 2px,
      transparent 1px
    ),
    linear-gradient(to top, var(--border-gray) 2px, transparent 1px);
  background-size: 4.4rem 4.4rem;
}
.cell {
  width: 70px;
  height: 70px;
}
